In [49]:
import pandas as pd

In [57]:
data = pd.read_csv("data.csv",header=0)

In [51]:
data.dtypes

Country or Area     object
Year                 int64
Comm. Code          object
Commodity           object
Flow                object
Trade (USD)          int64
Weight (kg)        float64
Quantity Name       object
Quantity           float64
dtype: object

We are now going to create a mysql databaseusing the python mysql connector

In [60]:
import pymysql
db1 = pymysql.connect(host='localhost',user="root", passwd="root")
cursor = db1.cursor()
sql = 'CREATE DATABASE mydata'
cursor.execute(sql)

Next, create a table

In [10]:
cursor.execute("use mydata")
sql = '''CREATE TABLE data (
       country VARCHAR(50) DEFAULT NULL,
       year VARCHAR(4) DEFAULT NULL,
       comm_code VARCHAR(20) DEFAULT NULL,
       commodity VARCHAR(20) DEFAULT NULL,
       flow VARCHAR(10) DEFAULT NULL,
       trade VARCHAR(15) DEFAULT NULL,
       weight VARCHAR(15) DEFAULT NULL,
       quantity_name VARCHAR(15) DEFAULT NULL,
       quantity VARCHAR(15) DEFAULT NULL       
       ) ENGINE=MyISAM DEFAULT CHARSET=latin1
       '''
cursor.execute(sql)

0

In [53]:
from pandas.io import sql

In [54]:
print 'joder %s' %'hostia'

joder hostia

In [58]:
for index, row in data.iterrows():
    cursor.execute("use mydata")
    linea = """insert into data (country,year,comm_code,commodity,flow,trade,weight,quantity_name,quantity) values( %s, %s, %s, %s, %s, %s, %s, %s, %s )""" %("""'"""+row['Country or Area']+"""'""","""'"""+str(row['Year'])+"""'""","""'"""+row['Comm. Code']+"""'""","""'"""+row['Commodity']+"""'""","""'"""+row['Flow']+"""'""","""'"""+str(row['Trade (USD)'])+"""'""","""'"""+str(row['Weight (kg)'])+"""'""","""'"""+row['Quantity Name']+"""'""","""'"""+str(row['Quantity'])+"""'""")
    cursor.execute(linea)

In [ ]:
sql.